{% extends "baseChart2.html" %}

{% block content %}
  <br>
  <div class="chart-container" style="width:95%;background-color:#F7F7F7">
    <canvas id="myChart" height="420""></canvas>
  </div>
  <div class="border-top" style="background-color:#FFF;width:100%;bottom:0;position:fixed">
    <h4>{{ title }}</h4>
  </div>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
        {% for item in labels %}
          moment("{{ item }}").tz('Europe/Madrid'),
        {% endfor %}
      ],
            datasets: [{
                label: "{{title}}",
                data: [
          {% for item in values %}
            {{ item }},
          {% endfor %}],
                backgroundColor: "{{ colorFill }}",
                borderColor: "{{ colorLine }}",
                borderWidth: 2,

            }]
        },
        options: {
            responsive:true,
            maintainAspectRatio:false,
            legend: {
                display: false
            },
            elements: {
                point:{
                    radius: 0
                 }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        steps:10,
                        beginAtZero: true,
                        max: 4096
                    }
                }],
                xAxes: [{
                    ticks: {
                        display:true
                    },
                    distribution: 'linear',
                    type: 'time',
                    time: {
                        unit: 'day',
                        unitStepSize: 1,
                        displayFormats: {
                           'day': 'MMM DD'
                        }
                    }
                }]
            }
        }
    });
    </script>
{% endblock %}