<!DOCTYPE html>
<html lang="en">
  <head>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.locale(auto_detect=True) }}
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{{url_for('static', filename='Chart.bundle.min.js')}}"></script>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}"/>
    <link rel="apple-touch-icon" type="image/png" href="{{url_for('static', filename='logo.png')}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="iotHome">
    <link rel="apple-touch-startup-image" type="image/png" href="{{url_for('static', filename='logo.png')}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='main.css') }}"/>
  </head>


  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone.min.js"></script>
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top border-bottom">
        <a class="navbar-brand abs" href="/"><img type="image/png" src="{{url_for('static', filename='logo.png')}}" width="32px">iotHome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav">
              {% for device in devices %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{device.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                  {% for sensor in device.sensors %}
                  <a class="dropdown-item" href="/sensor/{{ sensor.id }}">{{ sensor.name }}</a>
                  {% endfor %}
                </div>
              </li>
              <!--li class="nav-item">
                <a class="nav-item nav-link text-dark" href="{{url_for('water.check')}}">Watering</a>
              </li-->
            </ul>
            {% endfor %}
            <ul class="navbar-nav ml-auto">
              {%if current_user.is_authenticated%}
                <li class="nav-item">
                  <a class="nav-item nav-link text-dark" href="{{url_for('users.account')}}">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-item nav-link text-dark" href="{{url_for('users.logout')}}">Logout</a>
                </li>
              {%else%}
              <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="{{url_for('users.register')}}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="{{url_for('users.login')}}">Login</a>
              </li>
              {%endif%}
            </ul>
        </div>
    </nav>

    </header>
    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-12 center">
            {%with messages = get_flashed_messages(with_categories=true)%}
                {%if messages%}
                    {%for category, message in messages%}
                        <div class='alert alert-{{category}}'>
                            {{message}}
                        </div>    
                    {%endfor%}
                {%endif%}
            {%endwith%}
        </div>
        <div class='col-md-12 center'>
          {% block content %}{% endblock %}
        </div> 
      </div>
    </main>
    {%if current_user.is_authenticated%}
    <footer class="page-footer font-small navbar-light bg-white border-top fixed-bottom">
      <div class="container-fluid text-center">
        <h5>{{ title }}</h5>
      </div>
    </footer>
    {%endif%}
  </body>
</html>