{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <div class="content-section">
        <h1>{{title}}</h1>
        <hr>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chart-container content-section">
        <canvas id="myChart" height="400px" width="100%"></canvas>
      </div>
      <p class="text-right">{{updated_value}} at <span id="last_update_time">{{updated_time}}</span></p>
    </div>
  </div>




    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    document.getElementById('last_update_time').innerHTML = moment.utc("{{ updated_time }}")._d.toLocaleString();

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
        {% for label in labels %}
          moment.utc("{{ label }}"),
        {% endfor %}
      ],
            datasets: [{
                label: "{{title}}",
                data: [
          {% for item in values %}
            {{ item }},
          {% endfor %}],
                backgroundColor: "rgba(73,193,71,1)",
                borderColor: "rgba(151,220,150,0.2)",
                borderWidth: 2,

            }]
        },
        options: {
            responsive:true,
            maintainAspectRatio:false,
            legend: {
                display: false
            },
            elements: {
                point:{
                    radius: 0
                 }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        steps:10,
                        beginAtZero: false
                    }
                }],
                xAxes: [{
                    ticks: {
                        display:true
                    },
                    distribution: 'linear',
                    type: 'time',
                    time: {
                        unit: 'day',
                        unitStepSize: 1,
                        displayFormats: {
                           'day': 'MMM DD'
                        }
                    }
                }]
            }
        }
    });
    </script>
{% endblock %}