{% extends "base.html" %}

{% block content %}
<div class="container container-fluid">
  <div class="content-section text-center">
    <h4 class="text-center">{{sensor.name}}</h4>
    {% if values.__len__() > 0%}
    <p class="text-center">{{"{:10.2f}".format(last_event.value*sensor.a1 + sensor.a0)}} {{sensor.units}} at
      <span>{{moment(last_event.date_created).format('l')}} {{moment(last_event.date_created).format('LT')}}</span></p>
    {% endif %}
    <div class="chart-container">
      {% if values.__len__() > 0%}
      <canvas id="myChart" height="340px" width="100%"></canvas>
      {% else %}
      <p>No data for sensor retrieved.</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="content-section text-center">
        <h5>Device data</h5>
        <a href="{{url_for('device.check', device_code=device.code)}}">Config</a>
        <p>
          Device: {{device.name}}<br>
          Boot: {{last_event.boot}}
        </p>
        <h6>Sensor data</h6>
        <p>
          {% if sensor.units %}
          Units: {{sensor.units}}<br>
          {% endif %}
          Type: {{sensor.sensor_type}}
        </p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="content-section text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="container">
              <h5>Calibration</h5>
              <p>
                y = a0 + a1*x<br>
                y = {{"{:10.5f}".format(sensor.a0)}} + ({{"{:10.5f}".format(sensor.a1)}})* x
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="container">
              <form method="POST" action="" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <h5>Manual adjustment</h5>
                <fieldset class="form-group">
                  <div class="row">
                    <div class="col-md-6" style="padding-right: 5px; padding-left: 5px;">
                      <div class="form-group">
                        {{form.id.label(class="form-control-label")}}
                        {%if form.id.errors%}
                              {{form.id(class="form-control form-control-md is-invalid")}}
                              <div class="invalid-feedback">
                                  {%for error in form.id.errors%}
                                      <span>{{error}}</span>
                                  {%endfor%}
                              </div>
                          {%else%}
                              {{form.id(class="form-control form-control-md text-center")}}    
                          {%endif%}
                      </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 5px; padding-left: 5px;">
                      <div class="form-group">
                        {{form.calibrated.label(class="form-control-label")}}
                        {%if form.calibrated.errors%}
                              {{form.calibrated(class="form-control form-control-md is-invalid")}}
                              <div class="invalid-feedback">
                                  {%for error in form.calibrated.errors%}
                                      <span>{{error}}</span>
                                  {%endfor%}
                              </div>
                          {%else%}
                              {{form.calibrated(class="form-control form-control-md text-center")}}    
                          {%endif%}
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    {{form.real_value.label(class="form-control-label")}}
                    {%if form.real_value.errors%}
                        {{form.real_value(class="form-control form-control-md is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.real_value.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.real_value(class="form-control form-control-md text-center")}}    
                    {%endif%}
                  </div>
                  <div class="form-group">
                    <br>
                    {{form.submit(class="btn btn-outline-info")}}
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        {% if real_values.__len__() > 0 %}
        <hr>
        <div class="container" style="padding-left: 0px; padding-right: 0px;">
          <table style="width:100%; table-layout: fixed; justify-content: center;">
            <tr>
              <th style="padding-left: 5px; padding-right: 5px; font-size: medium;">Raw</th>
              <th style="padding-left: 5px; padding-right: 5px; font-size: medium;">Cal</th>
              <th style="padding-left: 5px; padding-right: 5px; font-size: medium;">Real</th>
            </tr>
            {% for real_event in real_values %}
            <tr>
              <td style="padding-left: 5px; padding-right: 5px; font-size: medium;">{{"{:10.2f}".format(real_event.value)}}</td>
              <td style="padding-left: 5px; padding-right: 5px; font-size: medium;">{{"{:10.2f}".format(real_event.value*sensor.a1 + sensor.a0)}}</td>
              <td style="padding-left: 5px; padding-right: 5px; font-size: medium;">{{"{:10.2f}".format(real_event.real_value)}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<script>
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {% for label in labels %}
        moment.utc("{{ label }}"),
        {% endfor %}
      ],
      datasets: [
        {
          label: "Sensor reading",
          data: [
          {% for item in values %}
          {{ item }},
          {% endfor %}
          ],
          backgroundColor: "{{colorFill}}",
          borderColor: "{{colorLine}}",
          borderWidth: 2
        }
      ]
    },
    options: {
      responsive:true,
      maintainAspectRatio:false,
      legend: {
        display: false
      },
      elements: {
          point:{
            radius: 0
          }
      },
      scales: {
        yAxes: [
          {
            ticks: {
                steps:10,
                beginAtZero: false
            }
          }
        ],
        xAxes: [
          {
            ticks: {
                display:true,
                maxTicksLimit: 8
            },
            distribution: 'linear',
            display: true,
            stacked: true,
            type: 'time',
            scaleLabel: {
              display: true,
              labelString: 'Days'
            },
            time: {
                unit: 'day',
                unitStepSize: 1,
                displayFormats: {
                    'day': 'MMM DD'
                }
            }
          }
        ]
      }
    }
  }
);
</script>
{% endblock %}