{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
      <div class="chart-container content-section">
        <h2>My devices</h2>
        {% if devices.__len__() == 0%}
            <p>No se han recuperado devices para el usuario.</p>
        {% else %}
        <table>
          <tr>
              <th>DeviceID</th>
              <th>Name</th>
          </tr>
          {% for device in devices %}
          <tr>
            <td>{{device.id}}</td>
            <td>{{device.name}}</td>
            <td>
              <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{form.submit(class="btn btn-outline-info")}}
                </div>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
        
      </div>
    </div>
    <div class="col-md-8">
      <div class="chart-container content-section">
        <h2>Active requests</h2>
        {% if requests.__len__() == 0%}
            <p>No se han recuperado requests para el usuario.</p>
        {% else %}
        <table>
          <tr>
            <th>Date</th>
            <th>Device</th>
            <th>Millis</th>
          </tr>
          {% for request in requests %}
          <tr>
            <td>{{moment(request.date_created).format('l')}} {{moment(request.date_created).format('LT')}}</td>
            <td>{{request.device.name}}</td>
            <td>{{request.duration}}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
        <hr>
        <h2>Last logs</h2>
        {% if logs.__len__() == 0%}
            <p>No se han recuperado requests para el usuario.</p>
        {% else %}

        <table>
          <tr>
            <th>Date</th>
            <th>Device</th>  
            <th>Millis</th>
          </tr>
          {% for log in logs %}
          <tr>
            <td>{{moment(log.date_created).format('l')}} {{moment(log.date_created).format('LT')}}</td>
            <td>{{log.device.name}}</td>
            <td>{{log.duration}}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
        <hr>
        <h2>Last events</h2>
        {% if events.__len__() == 0%}
            <p>No recent data.</p>
        {% else %}
        <table>
          <tr>
              <th>Date</th>
              <th>Device</th>
              <th>Value</th>
              <th>Boot</th>
          </tr>
          {% for event in events %}
          <tr>
            <td>{{moment(event.date_created).format('l')}} {{moment(event.date_created).format('LT')}}</td>
            <td>{{event.sensor.device_id}}:{{event.sensor.name}}</td>
            <td>{{event.value}}</td>
            <td>{{event.boot}}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}