{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
      <div class="content-section">
        <h2>{{device.name}}</h2>
        <table>
          <tr>
              <th>DeviceID</th>
              <th>Name</th>
              <th>Created</th>
          </tr>
          <tr>
            <td>{{device.id}}</td>
            <td>{{device.name}}</td>
            <td>{{device.date_created}}</td>
          </tr>
        </table>
      </div>
      <div class="content-section">
        <form method="POST" action="">
          {{form.hidden_tag()}}
          <h2>Request water</h2>
          <div class="form-group">
            {{form.duration.label(class="form-control-label")}}
            {%if form.duration.errors%}
                {{form.duration(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {%for error in form.duration.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                </div>
            {%else%}
                {{form.duration(class="form-control form-control-lg")}}    
            {%endif%}
          </div>
          <div class="form-group">
              {{form.submit(class="btn btn-outline-info")}}
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <div class="content-section">
        <h2>Current pending active requests</h2>
        {% if requests.__len__() == 0%}
            <p>No se han recuperado requests para el usuario.</p>
        {% else %}
        <table>
          <tr>
            <th>Date</th>
            <th>Device</th>
            <th>Millis</th>
          </tr>
          {% for request in requests %}
          <tr>
            <td>{{moment(request.date_created).format('l')}} {{moment(request.date_created).format('LT')}}</td>
            <td>{{request.device.name}}</td>
            <td>{{request.duration}}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
        <hr>
        <h2>Water logs from device</h2>
        {% if logs.__len__() == 0%}
            <p>No se han recuperado requests para el usuario.</p>
        {% else %}

        <table>
          <tr>
            <th>Date</th>
            <th>Device</th>  
            <th>Millis</th>
          </tr>
          {% for log in logs %}
          <tr>
            <td>{{moment(log.date_created).format('l')}} {{moment(log.date_created).format('LT')}}</td>
            <td>{{log.device.name}}</td>
            <td>{{log.duration}}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </div-->
  </div>
{% endblock %}