# Python
*.pyc
__pycache__


# Visual Code
.vscode/*


# Mac .DS_Stores
.DS_Store


# credentials file
credentials.py


# DB files
*.db
*.json


# Environments
venv/

# Images
*.jpg
*.jpeg
!default.jpg